@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

* { margin: 0px; padding: 0px;}

body {
    min-height: 100vh;
    min-height: 280px;

}

header {
    background-color: rgb(0, 0, 0);
    min-width: 280px;
   
    
    
}

header > h1 {
    color: white;
    text-align: center;
    font-size: 10vw;
    font-family: 'Passion One', cursive;
    padding-top: 30px;
}

header > h2 {
    color: white;
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    padding-bottom: 30px;
    
}

header h2 > a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: bold;
}

header h2 a:hover {
    text-decoration: underline;
}

section p.sec1  {
    text-align: left;
    font-family: 'Sriracha', cursive;
    font-size: 3.5vw;
    padding-left: 30px;
    padding-top: 60px;
    padding-bottom: 120px;
    
    display: inline-block;
}

p.sec2  {
    
    text-align: left;
    font-family: 'Sriracha', cursive;
    font-size: 3.5vw;
    padding-left: 30px;
    padding-top: 60px;
    padding-bottom: 120px;
}

p.sec3  {
    
    text-align: left;
    font-family: 'Sriracha', cursive;
    font-size: 3.5vw;
    padding-left: 30px;
    padding-top: 60px;
    padding-bottom: 120px;
}


section#img1 {
    background-image: url('imagens/background001.jpg');
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    
}

section.imagem > p {
    display: inline-block;
    font-family: 'Sriracha', cursive;
    font-size: 3.5vw;
    color: white;
    background-color: rgba(0, 0, 0, 0.329);
    text-shadow: 1px 1px 0px black;
    padding: 32px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
   
}

section#img2 {
    background-image: url('imagens/background002.jpg');
    background-size: cover;
    background-attachment: fixed;
    
}

footer { 
    background-color: black;
    color: white;
    text-align: center;
    padding: 3px;
}

a{ 
    text-decoration: none;
    color: beige ;
    }

footer a:hover {
    background-color: rgba(142, 142, 168, 0.541);
    text-decoration: underline;
}




